includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/
        - config/
        - routes/web.php
        - database/
        - src/
    level: 7