.dashboard{
  .show-product{
      display: flex;
      flex-direction: column;
    &__header{      
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__body{
      display: flex;
      flex-direction: column;
    }
  }
}