@use "../base" as *;

.nav-main{
  ul{
    align-items: center;
    display: flex;    
    gap: .5rem;
    list-style: none;  
    li{
      .nav-item{
        @extend .text-size-medium;
        color: $color-primary-dark;
        display: inline-block;             
        padding: .5rem;
        transition-duration: .160s;
        transition-property: translate;
        transition-timing-function: ease-in-out;
        font-weight: 500;
        &:hover{          
          color: $color-primary;
          translate: 0 -1px;
        }
        &.current-page{
          color: $color-primary;
          text-decoration: underline;
        }
      }
    }
  }
}